# 默认端口
server:
    port: 8082
    error:
        path: /templates/error

# 数据源信息
spring:
    datasource:
        name: weixin_db
        url: jdbc:mysql://115.28.157.64:3306/weixin_db?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true
        username: root
        password: wangml`19941108
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
        maxPoolPreparedStatementPerConnectionSize: 100
    # redis配置
    redis:
        # Redis数据库索引（默认为0）
        database: 0
        # Redis服务器地址
        host: 115.28.157.64
        # Redis服务器连接端口
        port: 6379
        # Redis服务器连接密码（默认为空）
        password: wangml`19941108
        # 连接超时时间（毫秒）
        timeout: 1000
        pool:
            # 连接池最大连接数（使用负值表示没有限制）
            max-active: 8
            # 连接池中的最大空闲连接
            max-idle: 8
            # 连接池中的最小空闲连接
            min-idle: 0

    # jpa配置
    jpa:
        properties:
            hibernate:
                hbm2ddl: auto=create-drop

    # thymeleaf配置
    thymeleaf:
        prefix: classpath:/templates/
        suffix: .html
        mode: HTML5
        encoding: UTF-8
        content-type: text/html
        cache: false
    resources:
        chain:
            strategy:
                content:
                    enabled: true
                    paths: /**
        # 修改默认的静态资源存放目录
        static-locations: classpath:/static/
# mybatis配置
mybatis:
  mapper-locations: classpath:mapping/*.xml
  type-aliases-package: com.wml.springboot.*.entity

# Mapper接口文件
mapper:
  mappers:  com.wml.springboot.*.mapper
  not-empty: false
  identity: MYSQL

#pagehelper分页插件
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql