<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wml.springboot.im.mapper.ImGroupMapper" >
  <resultMap id="BaseResultMap" type="com.wml.springboot.im.entity.ImGroup" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_name" property="groupname" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <collection property="userList" ofType="com.wml.springboot.auth.entity.Staff"
                select="com.wml.springboot.auth.mapper.StaffDao.getStaffByGroup" column="id"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_name, user_id, `type`, avatar, `desc`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from im_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from im_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wml.springboot.im.entity.ImGroup" >
    insert into im_group (id, group_name, user_id, `type`, avatar, `desc`)
    values (#{id,jdbcType=BIGINT}, #{groupname,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER},
     #{avatar,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wml.springboot.im.entity.ImGroup" >
    insert into im_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupname != null" >
        group_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupname != null" >
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wml.springboot.im.entity.ImGroup" >
    update im_group
    <set >
      <if test="groupname != null" >
        group_name = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wml.springboot.im.entity.ImGroup" >
    update im_group
    set group_name = #{groupname,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      `type` = #{type,jdbcType=INTEGER},
      avatar = #{avatar,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getImGroupByUserIdAndType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from im_group
    where user_id = #{userId} and `type` = #{type}
  </select>

  <select id="getImGroupByGroupName" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from im_group
    where user_id not in (#{userId}) and `type` = '1' and group_name like concat(concat('%',#{groupName}),'%')
  </select>
</mapper>