<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wml.springboot.mapper.MenuMapper">
	<!-- 实体映射 -->
	<resultMap type="com.wml.springboot.entity.Menu" id="BaseResultMap">
		<!-- 菜单ID -->
		<id column="MENU_ID" property="menuId" jdbcType="BIGINT"/>
		<!-- 菜单名称 -->
		<result column="MENU_NAME" property="menuName" jdbcType="VARCHAR"/>
		<!-- 菜单外码 -->
		<result column="MENU_KEY" property="menuKey" jdbcType="VARCHAR"/>
		<!-- 父菜单ID -->
		<result column="PARENT_ID" property="parentId" jdbcType="BIGINT"/>
		<!-- 图标Url -->
		<result column="IMAGE_URL" property="imageUrl" jdbcType="VARCHAR"/>
		<!-- 资源URL -->
		<result column="URL" property="url" jdbcType="VARCHAR"/>
		<!-- 菜单顺序 -->
		<result column="MENU_ORDER" property="menuOrder" jdbcType="VARCHAR"/>
		<!-- 子系统名称 -->
		<result column="SUBSYSTEM" property="subsystem" jdbcType="VARCHAR"/>
		<!-- 菜单所属域（admin、sp） -->
		<result column="DOMAIN" property="domain" jdbcType="VARCHAR"/>

	</resultMap>

	<!-- 字段属性 -->
	<sql id="Base_Column_List">
		MENU_ID,  MENU_NAME,  MENU_KEY,  PARENT_ID,  IMAGE_URL,  URL,
		MENU_ORDER,  SUBSYSTEM,  DOMAIN
	</sql>

	<!-- 分页列表查询  -->
	<select id="getPageList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from menu
		where 1 = 1
		order by MENU_ID desc
	</select>

	<!-- 根据主键MENU_ID查询对应数据  -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List" />
		from menu
		where MENU_ID = #{menuId, jdbcType=BIGINT}
	</select>

	<!-- 查询menu对象的数据集合 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from menu
	</select>

	<!-- 根据主键 MENU_ID删除对应数据 -->
	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from menu
		where MENU_ID = #{menuId, jdbcType=BIGINT}
	</delete>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.Map">
		delete from menu where 1 = 1
		<if test="list != null">
			and MENU_ID in
			<foreach item="tag" index="index" collection="list" open="(" separator="," close=")">
				#{tag}
			</foreach>
		</if>
	</delete>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.wml.springboot.entity.Menu" useGeneratedKeys="true" keyProperty="menuId">
		insert into menu(MENU_ID, MENU_NAME, MENU_KEY, PARENT_ID,
		IMAGE_URL, URL, MENU_ORDER,
		SUBSYSTEM, DOMAIN )
		values (#{menuId, jdbcType=BIGINT}, #{menuName, jdbcType=VARCHAR}, #{menuKey, jdbcType=VARCHAR}, #{parentId, jdbcType=BIGINT},
		#{imageUrl, jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR}, #{menuOrder, jdbcType=VARCHAR},
		#{subsystem, jdbcType=VARCHAR}, #{domain, jdbcType=VARCHAR} )
	</insert>

	<!-- 新增 -->
	<insert id="insertSelective" parameterType="com.wml.springboot.entity.Menu" useGeneratedKeys="true" keyProperty="menuId">
		insert into menu
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="menuId != null" >
				MENU_ID,
			</if>
			<if test="menuName != null" >
				MENU_NAME,
			</if>
			<if test="menuKey != null" >
				MENU_KEY,
			</if>
			<if test="parentId != null" >
				PARENT_ID,
			</if>
			<if test="imageUrl != null" >
				IMAGE_URL,
			</if>
			<if test="url != null" >
				URL,
			</if>
			<if test="menuOrder != null" >
				MENU_ORDER,
			</if>
			<if test="subsystem != null" >
				SUBSYSTEM,
			</if>
			<if test="domain != null" >
				DOMAIN,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="menuId != null" >
				#{menuId, jdbcType=BIGINT},
			</if>
			<if test="menuName != null" >
				#{menuName, jdbcType=VARCHAR},
			</if>
			<if test="menuKey != null" >
				#{menuKey, jdbcType=VARCHAR},
			</if>
			<if test="parentId != null" >
				#{parentId, jdbcType=BIGINT},
			</if>
			<if test="imageUrl != null" >
				#{imageUrl, jdbcType=VARCHAR},
			</if>
			<if test="url != null" >
				#{url, jdbcType=VARCHAR},
			</if>
			<if test="menuOrder != null" >
				#{menuOrder, jdbcType=VARCHAR},
			</if>
			<if test="subsystem != null" >
				#{subsystem, jdbcType=VARCHAR},
			</if>
			<if test="domain != null" >
				#{domain, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="com.wml.springboot.entity.Menu">
		update menu set
		MENU_ID = #{menuId, jdbcType=BIGINT},
		MENU_NAME = #{menuName, jdbcType=VARCHAR},
		MENU_KEY = #{menuKey, jdbcType=VARCHAR},
		PARENT_ID = #{parentId, jdbcType=BIGINT},
		IMAGE_URL = #{imageUrl, jdbcType=VARCHAR},
		URL = #{url, jdbcType=VARCHAR},
		MENU_ORDER = #{menuOrder, jdbcType=VARCHAR},
		SUBSYSTEM = #{subsystem, jdbcType=VARCHAR},
		DOMAIN = #{domain, jdbcType=VARCHAR}
		where MENU_ID = #{menuId, jdbcType=BIGINT}
	</update>

	<!-- 修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.wml.springboot.entity.Menu">
		update menu
		<set>
			<if test="menuId != null" >
				MENU_ID = #{menuId, jdbcType=BIGINT},
			</if>
			<if test="menuName != null" >
				MENU_NAME = #{menuName, jdbcType=VARCHAR},
			</if>
			<if test="menuKey != null" >
				MENU_KEY = #{menuKey, jdbcType=VARCHAR},
			</if>
			<if test="parentId != null" >
				PARENT_ID = #{parentId, jdbcType=BIGINT},
			</if>
			<if test="imageUrl != null" >
				IMAGE_URL = #{imageUrl, jdbcType=VARCHAR},
			</if>
			<if test="url != null" >
				URL = #{url, jdbcType=VARCHAR},
			</if>
			<if test="menuOrder != null" >
				MENU_ORDER = #{menuOrder, jdbcType=VARCHAR},
			</if>
			<if test="subsystem != null" >
				SUBSYSTEM = #{subsystem, jdbcType=VARCHAR},
			</if>
			<if test="domain != null" >
				DOMAIN = #{domain, jdbcType=VARCHAR},
			</if>
		</set>
		where MENU_ID = #{menuId, jdbcType=BIGINT}
	</update>

</mapper>