<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wml.springboot.mapper.SecDepartmentMapper">
	<!-- 实体映射 -->
	<resultMap type="com.wml.springboot.entity.SecDepartment" id="BaseResultMap">
		<!-- 组织ID -->
		<id column="DEPARTMENT_ID" property="departmentId" jdbcType="BIGINT"/>
		<!-- 组织名称 -->
		<result column="DEPARTMENT_NAME" property="departmentName" jdbcType="VARCHAR"/>
		<!-- 组织描述 -->
		<result column="DEPARTMENT_DESC" property="departmentDesc" jdbcType="VARCHAR"/>
		<!-- 父级组织 -->
		<result column="PARENT_ID" property="parentId" jdbcType="BIGINT"/>
		<!-- 组织的邮件 -->
		<result column="EMAIL" property="email" jdbcType="VARCHAR"/>
		<!-- 组织地址 -->
		<result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
		<!-- 是否可以创建下级组织 -->
		<result column="ADD_SUB" property="addSub" jdbcType="VARCHAR"/>
		<!-- 组织创建者 -->
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR"/>
		<!-- 组织创建时间 -->
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
		<!-- 组织最后修改时间 -->
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
		<!-- 管理域：SP、SYS_ADMIN -->
		<result column="DOMAIN" property="domain" jdbcType="VARCHAR"/>

		<association property="secDepartmentParentId"
					 javaType="com.wml.springboot.entity.SecDepartment"
					 column="PARENT_ID"
					 select="com.wml.springboot.mapper.SecDepartmentMapper.selectByPrimaryKey">
		</association>
	</resultMap>

	<!-- 字段属性 -->
	<sql id="Base_Column_List">
		DEPARTMENT_ID,  DEPARTMENT_NAME,  DEPARTMENT_DESC,  PARENT_ID,  EMAIL,  ADDRESS,
		ADD_SUB,  CREATE_USER,  CREATE_DATE,  LAST_UPDATE_DATE,  DOMAIN

	</sql>

	<!-- 分页列表查询  -->
	<select id="getPageList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sec_department
		where 1 = 1
		order by DEPARTMENT_ID desc
	</select>

	<!-- 根据主键DEPARTMENT_ID查询对应数据  -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List" />
		from sec_department
		where DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT}
	</select>

	<!-- 查询sec_department对象的数据集合 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sec_department
	</select>

	<!-- 根据主键 DEPARTMENT_ID删除对应数据 -->
	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from sec_department
		where DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT}
	</delete>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.Map">
		delete from sec_department where 1 = 1
		<if test="list != null">
			and DEPARTMENT_ID in
			<foreach item="tag" index="index" collection="list" open="(" separator="," close=")">
				#{tag}
			</foreach>
		</if>
	</delete>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.wml.springboot.entity.SecDepartment" useGeneratedKeys="true" keyProperty="departmentId">
		insert into sec_department(DEPARTMENT_ID, DEPARTMENT_NAME, DEPARTMENT_DESC, PARENT_ID,
		EMAIL, ADDRESS, ADD_SUB,
		CREATE_USER, CREATE_DATE, LAST_UPDATE_DATE,
		DOMAIN )
		values (#{departmentId, jdbcType=BIGINT}, #{departmentName, jdbcType=VARCHAR}, #{departmentDesc, jdbcType=VARCHAR}, #{parentId, jdbcType=BIGINT},
		#{email, jdbcType=VARCHAR}, #{address, jdbcType=VARCHAR}, #{addSub, jdbcType=VARCHAR},
		#{createUser, jdbcType=VARCHAR}, #{createDate, jdbcType=TIMESTAMP}, #{lastUpdateDate, jdbcType=TIMESTAMP},
		#{domain, jdbcType=VARCHAR} )
	</insert>

	<!-- 新增 -->
	<insert id="insertSelective" parameterType="com.wml.springboot.entity.SecDepartment" useGeneratedKeys="true" keyProperty="departmentId">
		insert into sec_department
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="departmentId != null" >
				DEPARTMENT_ID,
			</if>
			<if test="departmentName != null" >
				DEPARTMENT_NAME,
			</if>
			<if test="departmentDesc != null" >
				DEPARTMENT_DESC,
			</if>
			<if test="parentId != null" >
				PARENT_ID,
			</if>
			<if test="email != null" >
				EMAIL,
			</if>
			<if test="address != null" >
				ADDRESS,
			</if>
			<if test="addSub != null" >
				ADD_SUB,
			</if>
			<if test="createUser != null" >
				CREATE_USER,
			</if>
			<if test="createDate != null" >
				CREATE_DATE,
			</if>
			<if test="lastUpdateDate != null" >
				LAST_UPDATE_DATE,
			</if>
			<if test="domain != null" >
				DOMAIN,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="departmentId != null" >
				#{departmentId, jdbcType=BIGINT},
			</if>
			<if test="departmentName != null" >
				#{departmentName, jdbcType=VARCHAR},
			</if>
			<if test="departmentDesc != null" >
				#{departmentDesc, jdbcType=VARCHAR},
			</if>
			<if test="parentId != null" >
				#{parentId, jdbcType=BIGINT},
			</if>
			<if test="email != null" >
				#{email, jdbcType=VARCHAR},
			</if>
			<if test="address != null" >
				#{address, jdbcType=VARCHAR},
			</if>
			<if test="addSub != null" >
				#{addSub, jdbcType=VARCHAR},
			</if>
			<if test="createUser != null" >
				#{createUser, jdbcType=VARCHAR},
			</if>
			<if test="createDate != null" >
				#{createDate, jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateDate != null" >
				#{lastUpdateDate, jdbcType=TIMESTAMP},
			</if>
			<if test="domain != null" >
				#{domain, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="com.wml.springboot.entity.SecDepartment">
		update sec_department set
		DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT},
		DEPARTMENT_NAME = #{departmentName, jdbcType=VARCHAR},
		DEPARTMENT_DESC = #{departmentDesc, jdbcType=VARCHAR},
		PARENT_ID = #{parentId, jdbcType=BIGINT},
		EMAIL = #{email, jdbcType=VARCHAR},
		ADDRESS = #{address, jdbcType=VARCHAR},
		ADD_SUB = #{addSub, jdbcType=VARCHAR},
		CREATE_USER = #{createUser, jdbcType=VARCHAR},
		CREATE_DATE = #{createDate, jdbcType=TIMESTAMP},
		LAST_UPDATE_DATE = #{lastUpdateDate, jdbcType=TIMESTAMP},
		DOMAIN = #{domain, jdbcType=VARCHAR}
		where DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT}
	</update>

	<!-- 修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.wml.springboot.entity.SecDepartment">
		update sec_department
		<set>
			<if test="departmentId != null" >
				DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT},
			</if>
			<if test="departmentName != null" >
				DEPARTMENT_NAME = #{departmentName, jdbcType=VARCHAR},
			</if>
			<if test="departmentDesc != null" >
				DEPARTMENT_DESC = #{departmentDesc, jdbcType=VARCHAR},
			</if>
			<if test="parentId != null" >
				PARENT_ID = #{parentId, jdbcType=BIGINT},
			</if>
			<if test="email != null" >
				EMAIL = #{email, jdbcType=VARCHAR},
			</if>
			<if test="address != null" >
				ADDRESS = #{address, jdbcType=VARCHAR},
			</if>
			<if test="addSub != null" >
				ADD_SUB = #{addSub, jdbcType=VARCHAR},
			</if>
			<if test="createUser != null" >
				CREATE_USER = #{createUser, jdbcType=VARCHAR},
			</if>
			<if test="createDate != null" >
				CREATE_DATE = #{createDate, jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateDate != null" >
				LAST_UPDATE_DATE = #{lastUpdateDate, jdbcType=TIMESTAMP},
			</if>
			<if test="domain != null" >
				DOMAIN = #{domain, jdbcType=VARCHAR},
			</if>
		</set>
		where DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT}
	</update>

</mapper>