<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wml.springboot.mapper.SecDepartmentRoleMapper">
	<!-- 实体映射 -->
	<resultMap type="com.wml.springboot.entity.SecDepartmentRole" id="BaseResultMap">
		<!-- 组织ID -->
		<id column="DEPARTMENT_ID" property="departmentId" jdbcType="BIGINT"/>
		<!-- 角色ID -->
		<result column="ROLE_ID" property="roleId" jdbcType="BIGINT"/>

		<association property="secDepartment"
					 javaType="com.wml.springboot.entity.SecDepartment"
					 column="DEPARTMENT_ID"
					 select="com.wml.springboot.mapper.SecDepartmentMapper.selectByPrimaryKey">
		</association>
		<association property="secRole"
					 javaType="com.wml.springboot.entity.SecRole"
					 column="ROLE_ID"
					 select="com.wml.springboot.mapper.SecRoleMapper.selectByPrimaryKey">
		</association>
	</resultMap>

	<!-- 字段属性 -->
	<sql id="Base_Column_List">
		DEPARTMENT_ID,  ROLE_ID
	</sql>

	<!-- 分页列表查询  -->
	<select id="getPageList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sec_department_role
		where 1 = 1
		order by DEPARTMENT_ID desc
	</select>

	<!-- 根据主键DEPARTMENT_ID查询对应数据  -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List" />
		from sec_department_role
		where DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT}
	</select>

	<!-- 查询sec_department_role对象的数据集合 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sec_department_role
	</select>

	<!-- 根据主键 DEPARTMENT_ID删除对应数据 -->
	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from sec_department_role
		where DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT}
	</delete>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.Map">
		delete from sec_department_role where 1 = 1
		<if test="list != null">
			and DEPARTMENT_ID in
			<foreach item="tag" index="index" collection="list" open="(" separator="," close=")">
				#{tag}
			</foreach>
		</if>
	</delete>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.wml.springboot.entity.SecDepartmentRole" useGeneratedKeys="true" keyProperty="departmentId">
		insert into sec_department_role(DEPARTMENT_ID, ROLE_ID )
		values (#{departmentId, jdbcType=BIGINT}, #{roleId, jdbcType=BIGINT} )
	</insert>

	<!-- 新增 -->
	<insert id="insertSelective" parameterType="com.wml.springboot.entity.SecDepartmentRole" useGeneratedKeys="true" keyProperty="departmentId">
		insert into sec_department_role
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="departmentId != null" >
				DEPARTMENT_ID,
			</if>
			<if test="roleId != null" >
				ROLE_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="departmentId != null" >
				#{departmentId, jdbcType=BIGINT},
			</if>
			<if test="roleId != null" >
				#{roleId, jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="com.wml.springboot.entity.SecDepartmentRole">
		update sec_department_role set
		DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT},
		ROLE_ID = #{roleId, jdbcType=BIGINT}
		where DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT}
	</update>

	<!-- 修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.wml.springboot.entity.SecDepartmentRole">
		update sec_department_role
		<set>
			<if test="departmentId != null" >
				DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT},
			</if>
			<if test="roleId != null" >
				ROLE_ID = #{roleId, jdbcType=BIGINT},
			</if>
		</set>
		where DEPARTMENT_ID = #{departmentId, jdbcType=BIGINT}
	</update>

</mapper>