<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wml.springboot.mapper.SecOperationAddressMapper">
	<!-- 实体映射 -->
	<resultMap type="com.wml.springboot.entity.SecOperationAddress" id="BaseResultMap">
		<!-- 访问地址ID -->
		<id column="ADDRESS_ID" property="addressId" jdbcType="BIGINT"/>
		<!-- 资源ID -->
		<result column="RESOURCE_ID" property="resourceId" jdbcType="BIGINT"/>
		<!-- 资源操作外码 -->
		<result column="OPERATION_KEY" property="operationKey" jdbcType="VARCHAR"/>
		<!-- 访问地址名称 -->
		<result column="OPERATION_ADDRESS_NAME" property="operationAddressName" jdbcType="VARCHAR"/>
		<!-- 访问地址URL（不包含协议、IP、端口、contextpath） -->
		<result column="OPERATION_ADDRESS_URL" property="operationAddressUrl" jdbcType="VARCHAR"/>
		<!-- 参数名一 -->
		<result column="PARAMETER_NAME1" property="parameterName1" jdbcType="VARCHAR"/>
		<!-- 参数值一 -->
		<result column="PARAMETER_VALUE1" property="parameterValue1" jdbcType="VARCHAR"/>
		<!-- 参数名二 -->
		<result column="PARAMETER_NAME2" property="parameterName2" jdbcType="VARCHAR"/>
		<!-- 参数值二 -->
		<result column="PARAMETER_VALUE2" property="parameterValue2" jdbcType="VARCHAR"/>
		<!-- 参数名三 -->
		<result column="PARAMETER_NAME3" property="parameterName3" jdbcType="VARCHAR"/>
		<!-- 参数值三 -->
		<result column="PARAMETER_VALUE3" property="parameterValue3" jdbcType="VARCHAR"/>
		<!-- 元数据ID -->
		<result column="METADATA_ID" property="metadataId" jdbcType="VARCHAR"/>
		<!-- 管理域：SP、ADMIN -->
		<result column="DOMAIN" property="domain" jdbcType="VARCHAR"/>

		<association property="secOperation"
					 javaType="com.wml.springboot.entity.SecOperation"
					 column="RESOURCE_ID"
					 select="com.wml.springboot.mapper.SecOperationMapper.selectByPrimaryKey">
		</association>
	</resultMap>

	<!-- 字段属性 -->
	<sql id="Base_Column_List">
		ADDRESS_ID,  RESOURCE_ID,  OPERATION_KEY,  OPERATION_ADDRESS_NAME,  OPERATION_ADDRESS_URL,  PARAMETER_NAME1,
		PARAMETER_VALUE1,  PARAMETER_NAME2,  PARAMETER_VALUE2,  PARAMETER_NAME3,  PARAMETER_VALUE3,
		METADATA_ID,  DOMAIN
	</sql>

	<!-- 分页列表查询  -->
	<select id="getPageList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sec_operation_address
		where 1 = 1
		order by ADDRESS_ID desc
	</select>

	<!-- 根据主键ADDRESS_ID查询对应数据  -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List" />
		from sec_operation_address
		where ADDRESS_ID = #{addressId, jdbcType=BIGINT}
	</select>

	<!-- 查询sec_operation_address对象的数据集合 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sec_operation_address
	</select>

	<!-- 根据主键 ADDRESS_ID删除对应数据 -->
	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from sec_operation_address
		where ADDRESS_ID = #{addressId, jdbcType=BIGINT}
	</delete>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.Map">
		delete from sec_operation_address where 1 = 1
		<if test="list != null">
			and ADDRESS_ID in
			<foreach item="tag" index="index" collection="list" open="(" separator="," close=")">
				#{tag}
			</foreach>
		</if>
	</delete>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.wml.springboot.entity.SecOperationAddress" useGeneratedKeys="true" keyProperty="addressId">
		insert into sec_operation_address(ADDRESS_ID, RESOURCE_ID, OPERATION_KEY, OPERATION_ADDRESS_NAME,
		OPERATION_ADDRESS_URL, PARAMETER_NAME1, PARAMETER_VALUE1,
		PARAMETER_NAME2, PARAMETER_VALUE2, PARAMETER_NAME3,
		PARAMETER_VALUE3, METADATA_ID, DOMAIN
		)
		values (#{addressId, jdbcType=BIGINT}, #{resourceId, jdbcType=BIGINT}, #{operationKey, jdbcType=VARCHAR}, #{operationAddressName, jdbcType=VARCHAR},
		#{operationAddressUrl, jdbcType=VARCHAR}, #{parameterName1, jdbcType=VARCHAR}, #{parameterValue1, jdbcType=VARCHAR},
		#{parameterName2, jdbcType=VARCHAR}, #{parameterValue2, jdbcType=VARCHAR}, #{parameterName3, jdbcType=VARCHAR},
		#{parameterValue3, jdbcType=VARCHAR}, #{metadataId, jdbcType=VARCHAR}, #{domain, jdbcType=VARCHAR}
		)
	</insert>

	<!-- 新增 -->
	<insert id="insertSelective" parameterType="com.wml.springboot.entity.SecOperationAddress" useGeneratedKeys="true" keyProperty="addressId">
		insert into sec_operation_address
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="addressId != null" >
				ADDRESS_ID,
			</if>
			<if test="resourceId != null" >
				RESOURCE_ID,
			</if>
			<if test="operationKey != null" >
				OPERATION_KEY,
			</if>
			<if test="operationAddressName != null" >
				OPERATION_ADDRESS_NAME,
			</if>
			<if test="operationAddressUrl != null" >
				OPERATION_ADDRESS_URL,
			</if>
			<if test="parameterName1 != null" >
				PARAMETER_NAME1,
			</if>
			<if test="parameterValue1 != null" >
				PARAMETER_VALUE1,
			</if>
			<if test="parameterName2 != null" >
				PARAMETER_NAME2,
			</if>
			<if test="parameterValue2 != null" >
				PARAMETER_VALUE2,
			</if>
			<if test="parameterName3 != null" >
				PARAMETER_NAME3,
			</if>
			<if test="parameterValue3 != null" >
				PARAMETER_VALUE3,
			</if>
			<if test="metadataId != null" >
				METADATA_ID,
			</if>
			<if test="domain != null" >
				DOMAIN,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="addressId != null" >
				#{addressId, jdbcType=BIGINT},
			</if>
			<if test="resourceId != null" >
				#{resourceId, jdbcType=BIGINT},
			</if>
			<if test="operationKey != null" >
				#{operationKey, jdbcType=VARCHAR},
			</if>
			<if test="operationAddressName != null" >
				#{operationAddressName, jdbcType=VARCHAR},
			</if>
			<if test="operationAddressUrl != null" >
				#{operationAddressUrl, jdbcType=VARCHAR},
			</if>
			<if test="parameterName1 != null" >
				#{parameterName1, jdbcType=VARCHAR},
			</if>
			<if test="parameterValue1 != null" >
				#{parameterValue1, jdbcType=VARCHAR},
			</if>
			<if test="parameterName2 != null" >
				#{parameterName2, jdbcType=VARCHAR},
			</if>
			<if test="parameterValue2 != null" >
				#{parameterValue2, jdbcType=VARCHAR},
			</if>
			<if test="parameterName3 != null" >
				#{parameterName3, jdbcType=VARCHAR},
			</if>
			<if test="parameterValue3 != null" >
				#{parameterValue3, jdbcType=VARCHAR},
			</if>
			<if test="metadataId != null" >
				#{metadataId, jdbcType=VARCHAR},
			</if>
			<if test="domain != null" >
				#{domain, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="com.wml.springboot.entity.SecOperationAddress">
		update sec_operation_address set
		ADDRESS_ID = #{addressId, jdbcType=BIGINT},
		RESOURCE_ID = #{resourceId, jdbcType=BIGINT},
		OPERATION_KEY = #{operationKey, jdbcType=VARCHAR},
		OPERATION_ADDRESS_NAME = #{operationAddressName, jdbcType=VARCHAR},
		OPERATION_ADDRESS_URL = #{operationAddressUrl, jdbcType=VARCHAR},
		PARAMETER_NAME1 = #{parameterName1, jdbcType=VARCHAR},
		PARAMETER_VALUE1 = #{parameterValue1, jdbcType=VARCHAR},
		PARAMETER_NAME2 = #{parameterName2, jdbcType=VARCHAR},
		PARAMETER_VALUE2 = #{parameterValue2, jdbcType=VARCHAR},
		PARAMETER_NAME3 = #{parameterName3, jdbcType=VARCHAR},
		PARAMETER_VALUE3 = #{parameterValue3, jdbcType=VARCHAR},
		METADATA_ID = #{metadataId, jdbcType=VARCHAR},
		DOMAIN = #{domain, jdbcType=VARCHAR}
		where ADDRESS_ID = #{addressId, jdbcType=BIGINT}
	</update>

	<!-- 修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.wml.springboot.entity.SecOperationAddress">
		update sec_operation_address
		<set>
			<if test="addressId != null" >
				ADDRESS_ID = #{addressId, jdbcType=BIGINT},
			</if>
			<if test="resourceId != null" >
				RESOURCE_ID = #{resourceId, jdbcType=BIGINT},
			</if>
			<if test="operationKey != null" >
				OPERATION_KEY = #{operationKey, jdbcType=VARCHAR},
			</if>
			<if test="operationAddressName != null" >
				OPERATION_ADDRESS_NAME = #{operationAddressName, jdbcType=VARCHAR},
			</if>
			<if test="operationAddressUrl != null" >
				OPERATION_ADDRESS_URL = #{operationAddressUrl, jdbcType=VARCHAR},
			</if>
			<if test="parameterName1 != null" >
				PARAMETER_NAME1 = #{parameterName1, jdbcType=VARCHAR},
			</if>
			<if test="parameterValue1 != null" >
				PARAMETER_VALUE1 = #{parameterValue1, jdbcType=VARCHAR},
			</if>
			<if test="parameterName2 != null" >
				PARAMETER_NAME2 = #{parameterName2, jdbcType=VARCHAR},
			</if>
			<if test="parameterValue2 != null" >
				PARAMETER_VALUE2 = #{parameterValue2, jdbcType=VARCHAR},
			</if>
			<if test="parameterName3 != null" >
				PARAMETER_NAME3 = #{parameterName3, jdbcType=VARCHAR},
			</if>
			<if test="parameterValue3 != null" >
				PARAMETER_VALUE3 = #{parameterValue3, jdbcType=VARCHAR},
			</if>
			<if test="metadataId != null" >
				METADATA_ID = #{metadataId, jdbcType=VARCHAR},
			</if>
			<if test="domain != null" >
				DOMAIN = #{domain, jdbcType=VARCHAR},
			</if>
		</set>
		where ADDRESS_ID = #{addressId, jdbcType=BIGINT}
	</update>

</mapper>