<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wml.springboot.mapper.SecOperationMapper">
	<!-- 实体映射 -->
	<resultMap type="com.wml.springboot.entity.SecOperation" id="BaseResultMap">
		<!-- 资源操作主键 -->
		<id column="OPERATION_ID" property="operationId" jdbcType="BIGINT"/>
		<!-- 资源主键 -->
		<result column="RESOURCE_ID" property="resourceId" jdbcType="BIGINT"/>
		<!-- 操作关键字 -->
		<result column="OPERATION_KEY" property="operationKey" jdbcType="VARCHAR"/>
		<!-- 操作名称 -->
		<result column="OPERATION_NAME" property="operationName" jdbcType="VARCHAR"/>
		<!-- 操作描述 -->
		<result column="OPERATION_DESC" property="operationDesc" jdbcType="VARCHAR"/>
		<!-- 依赖操作KEY -->
		<result column="DEPEND_KEY" property="dependKey" jdbcType="VARCHAR"/>
		<!-- 被依赖操作KEY -->
		<result column="DEPEND_BY_KEY" property="dependByKey" jdbcType="VARCHAR"/>
		<!-- 元数据ID -->
		<result column="METADATA_ID" property="metadataId" jdbcType="VARCHAR"/>
		<!-- 管理域：SP、ADMIN -->
		<result column="DOMAIN" property="domain" jdbcType="VARCHAR"/>
		<!-- 操作的顺序 -->
		<result column="ORDER_KEY" property="orderKey" jdbcType="INTEGER"/>

		<association property="secResources"
					 javaType="com.wml.springboot.entity.SecResources"
					 column="RESOURCE_ID"
					 select="com.wml.springboot.mapper.SecResourcesMapper.selectByPrimaryKey">
		</association>
	</resultMap>

	<!-- 字段属性 -->
	<sql id="Base_Column_List">
		OPERATION_ID,  RESOURCE_ID,  OPERATION_KEY,  OPERATION_NAME,  OPERATION_DESC,  DEPEND_KEY,
		DEPEND_BY_KEY,  METADATA_ID,  DOMAIN,  ORDER_KEY
	</sql>

	<!-- 分页列表查询  -->
	<select id="getPageList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sec_operation
		where 1 = 1
		order by OPERATION_ID desc
	</select>

	<!-- 根据主键OPERATION_ID查询对应数据  -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List" />
		from sec_operation
		where OPERATION_ID = #{operationId, jdbcType=BIGINT}
	</select>

	<!-- 查询sec_operation对象的数据集合 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sec_operation
	</select>

	<!-- 根据主键 OPERATION_ID删除对应数据 -->
	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from sec_operation
		where OPERATION_ID = #{operationId, jdbcType=BIGINT}
	</delete>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.Map">
		delete from sec_operation where 1 = 1
		<if test="list != null">
			and OPERATION_ID in
			<foreach item="tag" index="index" collection="list" open="(" separator="," close=")">
				#{tag}
			</foreach>
		</if>
	</delete>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.wml.springboot.entity.SecOperation" useGeneratedKeys="true" keyProperty="operationId">
		insert into sec_operation(OPERATION_ID, RESOURCE_ID, OPERATION_KEY, OPERATION_NAME,
		OPERATION_DESC, DEPEND_KEY, DEPEND_BY_KEY,
		METADATA_ID, DOMAIN, ORDER_KEY
		)
		values (#{operationId, jdbcType=BIGINT}, #{resourceId, jdbcType=BIGINT}, #{operationKey, jdbcType=VARCHAR}, #{operationName, jdbcType=VARCHAR},
		#{operationDesc, jdbcType=VARCHAR}, #{dependKey, jdbcType=VARCHAR}, #{dependByKey, jdbcType=VARCHAR},
		#{metadataId, jdbcType=VARCHAR}, #{domain, jdbcType=VARCHAR}, #{orderKey, jdbcType=INTEGER}
		)
	</insert>

	<!-- 新增 -->
	<insert id="insertSelective" parameterType="com.wml.springboot.entity.SecOperation" useGeneratedKeys="true" keyProperty="operationId">
		insert into sec_operation
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="operationId != null" >
				OPERATION_ID,
			</if>
			<if test="resourceId != null" >
				RESOURCE_ID,
			</if>
			<if test="operationKey != null" >
				OPERATION_KEY,
			</if>
			<if test="operationName != null" >
				OPERATION_NAME,
			</if>
			<if test="operationDesc != null" >
				OPERATION_DESC,
			</if>
			<if test="dependKey != null" >
				DEPEND_KEY,
			</if>
			<if test="dependByKey != null" >
				DEPEND_BY_KEY,
			</if>
			<if test="metadataId != null" >
				METADATA_ID,
			</if>
			<if test="domain != null" >
				DOMAIN,
			</if>
			<if test="orderKey != null" >
				ORDER_KEY,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="operationId != null" >
				#{operationId, jdbcType=BIGINT},
			</if>
			<if test="resourceId != null" >
				#{resourceId, jdbcType=BIGINT},
			</if>
			<if test="operationKey != null" >
				#{operationKey, jdbcType=VARCHAR},
			</if>
			<if test="operationName != null" >
				#{operationName, jdbcType=VARCHAR},
			</if>
			<if test="operationDesc != null" >
				#{operationDesc, jdbcType=VARCHAR},
			</if>
			<if test="dependKey != null" >
				#{dependKey, jdbcType=VARCHAR},
			</if>
			<if test="dependByKey != null" >
				#{dependByKey, jdbcType=VARCHAR},
			</if>
			<if test="metadataId != null" >
				#{metadataId, jdbcType=VARCHAR},
			</if>
			<if test="domain != null" >
				#{domain, jdbcType=VARCHAR},
			</if>
			<if test="orderKey != null" >
				#{orderKey, jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="com.wml.springboot.entity.SecOperation">
		update sec_operation set
		OPERATION_ID = #{operationId, jdbcType=BIGINT},
		RESOURCE_ID = #{resourceId, jdbcType=BIGINT},
		OPERATION_KEY = #{operationKey, jdbcType=VARCHAR},
		OPERATION_NAME = #{operationName, jdbcType=VARCHAR},
		OPERATION_DESC = #{operationDesc, jdbcType=VARCHAR},
		DEPEND_KEY = #{dependKey, jdbcType=VARCHAR},
		DEPEND_BY_KEY = #{dependByKey, jdbcType=VARCHAR},
		METADATA_ID = #{metadataId, jdbcType=VARCHAR},
		DOMAIN = #{domain, jdbcType=VARCHAR},
		ORDER_KEY = #{orderKey, jdbcType=INTEGER}
		where OPERATION_ID = #{operationId, jdbcType=BIGINT}
	</update>

	<!-- 修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.wml.springboot.entity.SecOperation">
		update sec_operation
		<set>
			<if test="operationId != null" >
				OPERATION_ID = #{operationId, jdbcType=BIGINT},
			</if>
			<if test="resourceId != null" >
				RESOURCE_ID = #{resourceId, jdbcType=BIGINT},
			</if>
			<if test="operationKey != null" >
				OPERATION_KEY = #{operationKey, jdbcType=VARCHAR},
			</if>
			<if test="operationName != null" >
				OPERATION_NAME = #{operationName, jdbcType=VARCHAR},
			</if>
			<if test="operationDesc != null" >
				OPERATION_DESC = #{operationDesc, jdbcType=VARCHAR},
			</if>
			<if test="dependKey != null" >
				DEPEND_KEY = #{dependKey, jdbcType=VARCHAR},
			</if>
			<if test="dependByKey != null" >
				DEPEND_BY_KEY = #{dependByKey, jdbcType=VARCHAR},
			</if>
			<if test="metadataId != null" >
				METADATA_ID = #{metadataId, jdbcType=VARCHAR},
			</if>
			<if test="domain != null" >
				DOMAIN = #{domain, jdbcType=VARCHAR},
			</if>
			<if test="orderKey != null" >
				ORDER_KEY = #{orderKey, jdbcType=INTEGER},
			</if>
		</set>
		where OPERATION_ID = #{operationId, jdbcType=BIGINT}
	</update>

</mapper>