<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wml.springboot.mapper.SecResourceCategoryMapper">
	<!-- 实体映射 -->
	<resultMap type="com.wml.springboot.entity.SecResourceCategory" id="BaseResultMap">
		<!-- 资源分类ID -->
		<id column="CATEGORY_ID" property="categoryId" jdbcType="BIGINT"/>
		<!-- 上级资源分类ID -->
		<result column="PARENT_ID" property="parentId" jdbcType="BIGINT"/>
		<!-- 资源分类名称 -->
		<result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR"/>
		<!-- 资源分类描述 -->
		<result column="CATEGORY_DESC" property="categoryDesc" jdbcType="VARCHAR"/>
		<!-- 元数据ID -->
		<result column="METADATA_ID" property="metadataId" jdbcType="VARCHAR"/>
		<!-- 资源分类外码 -->
		<result column="CATEGORY_KEY" property="categoryKey" jdbcType="VARCHAR"/>
		<!-- 管理域：SP、ADMIN -->
		<result column="DOMAIN" property="domain" jdbcType="VARCHAR"/>
		<!-- 资源分类的顺序 -->
		<result column="ORDER_KEY" property="orderKey" jdbcType="INTEGER"/>

		<association property="secResourceCategoryParentId"
					 javaType="com.wml.springboot.entity.SecResourceCategory"
					 column="PARENT_ID"
					 select="com.wml.springboot.mapper.SecResourceCategoryMapper.selectByPrimaryKey">
		</association>
	</resultMap>

	<!-- 字段属性 -->
	<sql id="Base_Column_List">
		CATEGORY_ID,  PARENT_ID,  CATEGORY_NAME,  CATEGORY_DESC,  METADATA_ID,  CATEGORY_KEY,
		DOMAIN,  ORDER_KEY
	</sql>

	<!-- 分页列表查询  -->
	<select id="getPageList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sec_resource_category
		where 1 = 1
		order by CATEGORY_ID desc
	</select>

	<!-- 根据主键CATEGORY_ID查询对应数据  -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List" />
		from sec_resource_category
		where CATEGORY_ID = #{categoryId, jdbcType=BIGINT}
	</select>

	<!-- 查询sec_resource_category对象的数据集合 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sec_resource_category
	</select>

	<!-- 根据主键 CATEGORY_ID删除对应数据 -->
	<delete id="deleteByPrimaryKey" parameterType="Long">
		delete from sec_resource_category
		where CATEGORY_ID = #{categoryId, jdbcType=BIGINT}
	</delete>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.Map">
		delete from sec_resource_category where 1 = 1
		<if test="list != null">
			and CATEGORY_ID in
			<foreach item="tag" index="index" collection="list" open="(" separator="," close=")">
				#{tag}
			</foreach>
		</if>
	</delete>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.wml.springboot.entity.SecResourceCategory" useGeneratedKeys="true" keyProperty="categoryId">
		insert into sec_resource_category(CATEGORY_ID, PARENT_ID, CATEGORY_NAME, CATEGORY_DESC,
		METADATA_ID, CATEGORY_KEY, DOMAIN,
		ORDER_KEY )
		values (#{categoryId, jdbcType=BIGINT}, #{parentId, jdbcType=BIGINT}, #{categoryName, jdbcType=VARCHAR}, #{categoryDesc, jdbcType=VARCHAR},
		#{metadataId, jdbcType=VARCHAR}, #{categoryKey, jdbcType=VARCHAR}, #{domain, jdbcType=VARCHAR},
		#{orderKey, jdbcType=INTEGER} )
	</insert>

	<!-- 新增 -->
	<insert id="insertSelective" parameterType="com.wml.springboot.entity.SecResourceCategory" useGeneratedKeys="true" keyProperty="categoryId">
		insert into sec_resource_category
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="categoryId != null" >
				CATEGORY_ID,
			</if>
			<if test="parentId != null" >
				PARENT_ID,
			</if>
			<if test="categoryName != null" >
				CATEGORY_NAME,
			</if>
			<if test="categoryDesc != null" >
				CATEGORY_DESC,
			</if>
			<if test="metadataId != null" >
				METADATA_ID,
			</if>
			<if test="categoryKey != null" >
				CATEGORY_KEY,
			</if>
			<if test="domain != null" >
				DOMAIN,
			</if>
			<if test="orderKey != null" >
				ORDER_KEY,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="categoryId != null" >
				#{categoryId, jdbcType=BIGINT},
			</if>
			<if test="parentId != null" >
				#{parentId, jdbcType=BIGINT},
			</if>
			<if test="categoryName != null" >
				#{categoryName, jdbcType=VARCHAR},
			</if>
			<if test="categoryDesc != null" >
				#{categoryDesc, jdbcType=VARCHAR},
			</if>
			<if test="metadataId != null" >
				#{metadataId, jdbcType=VARCHAR},
			</if>
			<if test="categoryKey != null" >
				#{categoryKey, jdbcType=VARCHAR},
			</if>
			<if test="domain != null" >
				#{domain, jdbcType=VARCHAR},
			</if>
			<if test="orderKey != null" >
				#{orderKey, jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="com.wml.springboot.entity.SecResourceCategory">
		update sec_resource_category set
		CATEGORY_ID = #{categoryId, jdbcType=BIGINT},
		PARENT_ID = #{parentId, jdbcType=BIGINT},
		CATEGORY_NAME = #{categoryName, jdbcType=VARCHAR},
		CATEGORY_DESC = #{categoryDesc, jdbcType=VARCHAR},
		METADATA_ID = #{metadataId, jdbcType=VARCHAR},
		CATEGORY_KEY = #{categoryKey, jdbcType=VARCHAR},
		DOMAIN = #{domain, jdbcType=VARCHAR},
		ORDER_KEY = #{orderKey, jdbcType=INTEGER}
		where CATEGORY_ID = #{categoryId, jdbcType=BIGINT}
	</update>

	<!-- 修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.wml.springboot.entity.SecResourceCategory">
		update sec_resource_category
		<set>
			<if test="categoryId != null" >
				CATEGORY_ID = #{categoryId, jdbcType=BIGINT},
			</if>
			<if test="parentId != null" >
				PARENT_ID = #{parentId, jdbcType=BIGINT},
			</if>
			<if test="categoryName != null" >
				CATEGORY_NAME = #{categoryName, jdbcType=VARCHAR},
			</if>
			<if test="categoryDesc != null" >
				CATEGORY_DESC = #{categoryDesc, jdbcType=VARCHAR},
			</if>
			<if test="metadataId != null" >
				METADATA_ID = #{metadataId, jdbcType=VARCHAR},
			</if>
			<if test="categoryKey != null" >
				CATEGORY_KEY = #{categoryKey, jdbcType=VARCHAR},
			</if>
			<if test="domain != null" >
				DOMAIN = #{domain, jdbcType=VARCHAR},
			</if>
			<if test="orderKey != null" >
				ORDER_KEY = #{orderKey, jdbcType=INTEGER},
			</if>
		</set>
		where CATEGORY_ID = #{categoryId, jdbcType=BIGINT}
	</update>

</mapper>